<style>
  .buttonStyle{
width: 100%;
height: 30px;
margin: 50px;
}
</style>
<button class="click to change value buttonStyle"  {{action "switchcolor"}}>
  Click
  to change color
</button>
<div class="my-awesome-class" data-theme={{theme.name}}>
  <h1>
    stuff goes here
  </h1>
</div>